{% extends "ccrform/base.html" %}

{% block content %}

{% if form.errors %}
	<p class="error">Invalid Username or Password </p>
{% endif %}
<div class="panel panel-default rounded logbox">
<form action="/accounts/auth_view/" method="post">{% csrf_token %}
	<label for="username" >Username: </label>
	<input type="text" name="username" value="" id="username">
	<label for="password">Password:</label>
	<input type="password" name="password" value="" id="password">

	<input type="submit" value="login" />
</form> 
</div>
{% endblock %}
