<!doctype html>
{% load static %}
{% load ccr_extras %}


<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>VGTSI CCR</title>
<link rel="stylesheet" type="text/css" href="{% static 'ccrform/css/foundation.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ccrform/css/foundation-datepicker.css' %}"/><link rel="stylesheet" type="text/css" href="{% static 'ccrform/css/extras.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ccrform/css/jquery-ui.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ccrform/css/general_foundicons.css' %}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'ccrform/js/jquery-ui.js' %}"></script>
<script type="text/javascript" charset="uft8" src="{% static 'ccrform/js/foundation.js' %}"></script>
<script type="text/javascript" charset="uft8" src="{% static 'ccrform/js/foundation-datepicker.js' %}"></script>

<script>
	$(document).ready(function(){
		$(document).foundation();
		$("#datepicker").datepicker({
			dateFormat: "yy-mm-dd"
		});	
	});
</script>

<script>

	if ($(window).width() <= 400){
		
		jQuery(document).ready(function(){
			jQuery(".expander_content").hide();
		jQuery(".expander").click(function()
		{
		jQuery(this).next(".expander_content").toggle("blind", 100);
			});
		});
	}
</script>
<script>

	$('#id').click(function(e){
		e.preventDefault();
		$.ajax({
			type:'POST',
			url:'/ccrform/seen/',
			data:{'submit':true}
			success:function(result){
				alert("Seen");
			});
});

</script>

</head>

<body>
<div class="row">

	<div class ="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium" >
		<button class="menu-icon" type="button" data-toggle></button>
		<div class="title-bar-title">Menu</div>
	</div>
	
	
	
	
		<div class="top-bar radius" id="example-menu">
			<div class="top-bar-left">
				<ul class="menu">
					<li class="menu-text">VGTSI CCR</li>
				</ul>
			</div>
			<div class="top-bar-right">
			{% with request.path as url %}
		
			<ul class="medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
			{% if "/accounts/" not in request.path %}			
	
				<li><a href="/ccrform/create_ccr/"
				{% if url == "/ccrform/create_ccr/"%}
				id="active"
				{% endif %}
				>New</a></li>

				<li><a href="/ccrform/view_all_ccr/" 
				{% if url == "/ccrform/view_all_ccr/" %}
				id="active"
				{% endif %}
				>Find</a></li>

				{% with request.user as user%}
				<li id="user"><a href="/ccrform/user_profile/"
				{% if url == "/ccrform/user_profile/" %}
					id="active"
				{% endif %}>
				{{ request.user.username }}
			
				{% if request.user|has_notification %}
				<i class="foundicon-idea"></i>
				{% endif %}
				</a>
				</li>
				{% endwith %}
				<li><a href="/accounts/logout/">Logout</a></li>
		
				{% endif %}
			</ul>
			
			{% endwith %}
		</div>
	</div>
</div>

	<div class="row">
	<div class="medium-12 columns no-bullet">
	{% block content %}
	{% endblock %}
	</div>
	</div>


<footer></footer> 
</body> 

</html>
