{% extends 'ccrform/base.html' %}
{% block content %}
<div>

	<table>	
		<tr><td>CCR Number:</td><td class="second">{{ ccr.ccr_number }}</td></tr>
		<tr><td>Entered By:</td><td class="second">{{ ccr.entered_by }}</td></tr>
		<tr><td>Reviewers Comments:</td><td class="second">{{ ccr.comments_r }}</td></tr>
		<tr><td>Approvers Comments:</td><td class="second">{{ ccr.comments_a }}</td></tr>
	</table>

<form action ="." method="post">{% csrf_token %}
	<ul class="no-bullet">
		{{ form.as_ul }}
	</ul>
	<input type="submit" name="submit" value="Submit">
</form>


</div>
{% endblock %}
