html body{

	background-image: url("../img/square.png");
	background-repeat: repeat;

}

.second {

	text-align: right;
}

.ccr_data{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial; 
}

table {
	width: 100%;
	margin-left: 0;
	overflow-x: scroll;
	
}

.status {
	border: 2px solid #eee;
	color: white;
	padding: 5px;
	border-radius: 10px;
	background-color: blue;
}

h2.Open     { background-color: #8df28f;}
h2.Approved { background-color: blue;}
h2.Rejected { background-color: red;}
h2.Complete { background-color: green;}
h2.Review   { background-color: rgb(134, 0, 255);} 
h2.Approval { background-color: rgb(255, 90, 0);}

.create{
	list-style: none; 
}

.top-bar{
	background: #121459;
	border: 2px solid #fefefe;
	border-radius: 10px;
}

.top-bar a, .menu-text{

	background: #121459;
	color: #fff;

}


#active {
	background: rgba(0,0,0 0.5);
	border: solid 3px #fff;
	border-radius: 25px;
}

.top-bar, .top-bar ul{
	background-color: #121459;
}


.top-bar a{
	background: rgba(0,0,0,0);
	transition-property: background;
	transition-duration: 0.25s; 
	transition-timing-function: linear;
}



.top-bar a:hover{
	background: rgba(255,255,255,0.5);
	border: solid 3px #fff;
	border-radius: 25px;
}

.sidebar{
	background: rgba(241, 241, 241, 0.7);
	width: 15%;

}

.userprofile{
	background: rgba(241, 241, 241, 0.7);
	border: solid 3px #fff;
	
}

form label{
	font-weight: bold;
}

.shadow {
	box-shadow: 1px 1px 1px black;
}

.box{
	padding: 1%;
	
}

.description {
 
	text-align: justify;
}

.helptext {
	visibility: hidden;
	
}

.sidebar p {
	padding-top : 0;
	margin-top : 0;
	margin-bottom: 3%;

}

.first{
	font-weight: bold;
}

.faded{
	color: gray;
}

.well{
	min-height : 20px;
	padding : 19px;
	margin-bottom : 20px;
	background-color : #f1f1f1;
	border: 1px solid #e3e3e3;
	border-radius : 4px;
	box-shadow : inset 0 1px 1px rgba(0,0,0, 0.05);
}

.foundicon-idea{
	color: #fff;
}

@media (max-width: 400px){
	.sidebar{ margin:0; padding:0;width:100%;position:relative;}
	.expander{margin:1px;padding:3px 10px;cursor:pointer;position:relative;border:solid 1px #e3e3e3; }
/*	.expander_content{padding:5px 10px;} */
	.ccrtable{width:100%;}
	.title-bar{width:100%;}
}

.disappear{

	display:none;
}

#logbox{
	margin: 0 auto;
	width: 30%;
}
